# Core
numpy
pandas

# MetaTrader
MetaTrader5

# Environment variables
python-dotenv

# Database PostgreSQL
psycopg2-binary
SQLAlchemy

# InfluxDB
influxdb-client

# HTTP / API
requests

# News / parsing
beautifulsoup4

# Time handling
python-dateutil

# Data analysis
matplotlib
seaborn
scipy
statsmodels

# Optional ML (future agents)
scikit-learnx